body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#parrafo{
    font-size: 20px;
    color: rgb(255, 95, 95);
    font-family: cursive;
}

